@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab:wght@300&display=swap');
body {
    margin-top: 150px;
}
.history {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}
.container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
h2, p {
padding-left: 30px;
padding-right: 30px;
}
.text {
flex-grow: 1;
width: 1px;

}
.image {
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 50%;
    border: 10px solid lightgrey;
    overflow: hidden;
}
.container:after {
    content: "";
    width: 1px;
    flex-grow: 1;
}


.container2, .container4 {
    flex-direction: row-reverse;
}
.container5 .image {
text-align: center;
color: white;
display: flex;
justify-content: center;
align-items: center;
}


.container1 .image {
    background-image: url('../images/1.jpg');
    background-position: center;
    background-color: #cccccc;
}
.container2 .image {
    background-image: url('../images/2.jpg');
    background-position: center;
    background-color: #cccccc;
}
.container3 .image {
    background-image: url('../images/3.jpg');
    background-position: center;
    background-color: #cccccc;
}
.container4 .image {
    background-image: url('../images/4.jpg');
    background-position: center;
    background-color: #cccccc;
}
.container5 .image {
    background-color: #dfc11c;
}
h2 {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.history:last-child:after {
    content: "";
    background: lightgray;
    width: 2px;
    height: 100%;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 0px;
    z-index: -1;
}
.history .container:nth-child(odd) {
    text-align: right;
}

.container5:before {
    content: "";
    width: 1px;
    flex-grow: 1;
}



@media (max-width: 840px) {
    .container {
        margin: 0;
        flex-direction: row-reverse;
    }
    .image {
        transform: scale(0.7);

    }
    .text {
        text-align: left;
        max-width: 100%;
        display: block;
    }
    /* .container5:before{
        content: "";
        width: 70%;
        margin-right: -40px;
    } */
    .history:last-child:after {
        left: 60px;
        height: 95%;
        transform: translateY(20px);
    }
    .container:after {
    display: none;
    }

}
   